<div class="text-field">
  <%= form.text_field :username, type: 'username', placeholder: "Username" %><label class="input-group-addon glyphicon glyphicon-user" style="display: inline;"></label>
</div>
<br>
<div class="text-field">
  <%= form.text_field :email, type: 'email', placeholder: "Email" %><label class="input-group-addon glyphicon glyphicon-user" style="display: inline;"></label>
</div>
<br>
<div class="password-field">
  <%= form.password_field :password, placeholder: "Password" %><label for="uPassword" class="input-group-addon glyphicon glyphicon-lock" style="display: inline;"></label>
</div>
<br>