<div class="text-field">
  <%= form.text_field :username, type: 'username', placeholder: " Username", style: "border-style: inset; background-color: #eee;" %><label class="input-group-addon glyphicon glyphicon-user" style="display: inline;"></label>
  <p style="text-align: left; margin: 0 15px; font-size: 10px; color: #aaa;">4-10 characters</p>
</div>
<br>
<div class="text-field">
  <%= form.text_field :email, type: 'email', placeholder: " Email", style: "border-style: inset; background-color: #eee;" %><label class="input-group-addon glyphicon glyphicon-envelope" style="display: inline;"></label>
</div>
<br>
<div class="password-field">
  <%= form.password_field :password, placeholder: " Password", style: "border-style: inset; background-color: #eee;" %><label for="uPassword" class="input-group-addon glyphicon glyphicon-lock" style="display: inline;"></label>
</div>
<br>