<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
      tinymce.init({
          selector: "textarea",
          menu: {
            table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'}
          },
          plugins: [
              "advlist autolink lists link image charmap preview anchor",
              "searchreplace visualblocks code fullscreen",
              "insertdatetime media table contextmenu paste"
          ],
          toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
      });
    </script>
    <hr>
    <!-- the comment box -->
    <div class="well">
      <h4><i class="fa fa-paper-plane-o"></i>Add your story:</h4>
      <form role="form" action="../stories" method="post">
        <div class="form-group">
          <hr>
          <input type="text" name="story[title]" placeholder="Subject" style="width: 100%"><hr>
          <textarea class="form-control" rows="18" name="story[contents]"></textarea>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
      </form>
    </div>
  </script>
  <hr>
</div>