<div id="story_page">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div id="story_header">
      <h1 id="story_title"><b><%= @story.title.upcase %></b></h1>
      <p>by <%= User.find(@story.user_id).username %></p>
    </div>
    <%=raw @story.contents %>
  </div>
  <div class="col-md-2 well sideStory">
    <% Story.where(user_id: @story.user_id).each do |s| %>
      <div class="row well sideStory">
        <%= link_to s.title, story_path(s) %>
      </div>
    <% end %>
  </div>
</div>