// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#story_title {
  font-family: Anton;
}
#story_header {
  margin-top: 10px;
  text-align: center;
  padding: 10px 0;
  border: 5px black;
  border-style: solid none;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 0.6);
}
#story_page {
  background-image: url(blog.jpg);
  height: 90vh;
}
#story_body {
  background-color: rgba(255, 255, 255, 0.6);
}
.sideStory {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.4);
}