// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#storyTitle {
  text-align: center;
}

#story_page {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/b5/8b/db/b58bdbddd7ec2df3ab022c81e9f2ea39.jpg); 
  height: 90vh;
}